.welcome-container{
    display: grid;
    grid-template-columns: 20% 80%;
}

.welcome-filter-container{
    background-color: #F2E5CF;
    padding: 0 5%;
    height: 88vh;
    margin-bottom: -250px;
}
.welcome-filter-container > h4{
    margin: 35px 0 50px 0;
    text-align: center;
    color: #17896C;
}

.filter-item{
    margin-top: 20px;
}

.check-input{
    margin-top: 10px;
}

.welcome-books-container{
    display: grid;
    grid-template-rows: 12% auto;
}

.welcome-books-container-header{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 10% 30% 40% 10%;
}

.all-books{
    margin-left: 15px;
    width: 80%;
    text-align: center;
    border-radius: 15px;
    background-color: lightgray;
    padding: 4%;
}
.avatar >img {
    width: 60px;
    height: 50px;
    border-radius: 25px;
}


#books-container {
    padding-left: 15px;
}

#cards-container {
    display: flex;
}

#books-container .card {
flex: 1 1 24%;
max-width: 25%;
border-radius: 10px;
padding: 0;
margin: .5%;
}

#books-container img {
max-height: 150px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.card .card-title {
color: #212121;
font-size: 20px;
font-weight: bold;
margin-bottom: 10px;
}

.card{
    height: 275px;
}